
		<div class="card text-center">
			<div class="card-header">
				<h5 class="card-title">Delete this hotel?</h5>
			</div>
			<div class="card-body">

                    <div class="form-group mb-3">
						<label class="control-label">Id : {{hotel.id}}</label>
					</div>

					<div class="form-group mb-3">
						<label class="control-label">Name : {{hotel.name}}</label>
					</div>
                    
					<div class="form-group mb-3">
						<label class="control-label">Phone number : {{hotel.phone}}</label>
					</div>

					<div class="form-group mb-3">
						<label class="control-label">Address : {{hotel.address}} - {{hotel.city.name}}</label>
					</div>

					<div class="form-group mb-3">
						<label class="control-label">Rating : {{hotel.rating}}</label>
					</div>

					<div class="form-group mb-3">
						<label class="control-label">Number of rooms : {{hotel.availableRooms}}</label>
					</div>

					<div class="form-group mb-3">
						<label class="control-label">Starting price : {{hotel.price}}</label>
					</div>

					<button (click)="deleteHotel(hotel.id)" class="btn btn-warning">Delete</button>

                    <button (click)="cancel()" class="btn btn-success">Cancel</button>

			</div>
		</div>