<div class="mt-5 container-fluid">
    <div class="card text-center">
        <div class="card-header">
            <div class="row g-2 justify-content-center p-2">
                <div class="col-3">
                    <a href="#" class="w-100 btn btn-success text-white btn-block " routerLink="/adminCities">Cities</a>
                </div>
                <div class="col-3">
                    <a href="#" class="w-100 btn btn-success text-white btn-block "routerLink="/adminHotel">Hotels</a>
                </div>
            </div>
        </div>
        <section layout:fragment="admin">
            <div class="card-body">
                
                <div class="row g-3">
                    <div class="col-6 ">
                        <h3 th:text="${listOf}"></h3>
                    </div>
                    <table class="mt-2 table table-striped table-bordered table-success ">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NAME</th>
                                <th>PHONE</th>
                                <th>ADDRESS</th>
                                <th>RATING</th>
                                <th>AVAILABLE ROOMS</th>
                                <th>PRICE</th>
                                <th>CITY</th>
                                <th>DELETE</th>
                                <th>UPDATE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hotel of listHotel">
                                <td>{{hotel.id}}</td>
                                <td>{{hotel.name}}</td>
                                <td>{{hotel.phone}}</td>
                                <td>{{hotel.address}}</td>
                                <td>{{hotel.rating}}</td>
                                <td>{{hotel.availableRooms}}</td>
                                <td>{{hotel.price}}</td>
                                <td>{{hotel.city.name}}</td>
                                <td>
                                <a (click)="onDeleteHotel(hotel.id)"><i
                                            class="fas fa-trash-alt"></i></a>
                                </td>
                                <td>
                                    <a (click)="onUpdateHotel(hotel.id)"><i
                                            class="fas fa-edit"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-muted">
                    <a href="#" class="btn btn-success btn-lg"routerLink="/saveHotel">Add new hotel</a>
                </div>
            </div>
        </section>
    </div>
</div>